@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  _httpContextAccessor
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>新云报</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/plugin/layuimini/images/favicon.ico">
    <link rel="stylesheet" href="/plugin/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/plugin/layuimini/css/layuimini.css?v=2.0.4.2" media="all">
    <link rel="stylesheet" href="/plugin/layuimini/css/themes/default.css" media="all">
    @*<link rel="stylesheet" href="/plugin/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">*@
    <link rel="stylesheet" href="/Plugin/fontawesome/css/all.min.css">
    @*<link rel="stylesheet" href="/Plugin/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/Plugin/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="/Plugin/fontawesome/css/brands.min.css">*@
    @*<link rel="stylesheet" href="/Plugin/fontawesome/css/v5-font-face.min.css">
        <link rel="stylesheet" href="/Plugin/fontawesome/css/v4-font-face.min.css">
        <link rel="stylesheet" href="/Plugin/fontawesome/css/v4-shims.min.css">*@
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Plugin/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/Plugin/vue-2.5.10.mini.js"></script>
    <style id="layuimini-bg-color">
    </style>
</head>

<body class="layui-layout-body layuimini-all">
    <div class="layui-layout layui-layout-admin">

        <div class="layui-header header">
            <div class="layui-logo layuimini-logo"></div>

            <div class="layuimini-header-content">
                <a>
                    <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
                </a>

                <!--电脑端头部菜单-->
                <ul class="layui-nav layui-layout-left layuimini-header-menu layuimini-menu-header-pc layuimini-pc-show">
                </ul>

                <!--手机端头部菜单-->
                <ul class="layui-nav layui-layout-left layuimini-header-menu layuimini-mobile-show">
                    <li class="layui-nav-item">
                        <a href="javascript:;"><i class="fa fa-list-ul"></i> 选择模块</a>
                        <dl class="layui-nav-child layuimini-menu-header-mobile">
                        </dl>
                    </li>
                </ul>

                <ul class="layui-nav layui-layout-right">

                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;" data-refresh="刷新"><i class="fa fa-refresh"></i></a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;" layuimini-content-href="@Url.Action("List","Notice",new {area="Sys"})" data-title="通知消息"><i class="fa fa-envelope"></i><span class="layui-badge-dot has-notice"></span></a>
                    </li>
                    <li class="layui-nav-item mobile layui-hide-xs" lay-unselect>
                        <a href="javascript:;" data-check-screen="full"><i class="fa fa-arrows-alt"></i></a>
                    </li>
                    <li class="layui-nav-item layuimini-setting">
                        <a href="javascript:;">
                        @_httpContextAccessor.HttpContext.Session.GetString("XybLoginId") @_httpContextAccessor.HttpContext.Session.GetString("XybNickName") </a>
                        </a>
                        <dl class="layui-nav-child">
                            <!--<dd>
                                <a href="javascript:;" layuimini-content-href="@Url.Action("MyInfo","UserCenter")" data-title="基本资料" data-icon="fa fa-gears">
                                    基本资料-->@*<span class="layui-badge-dot"></span>*@
                                <!--</a>
                            </dd>-->
                            <dd>
                                <hr>
                            </dd>
                            <dd>
                                <a href="javascript:;" class="login-out">退出登录</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    </li>
                </ul>
            </div>
        </div>

        <!--无限极左侧菜单-->
        <div class="layui-side layui-bg-black layuimini-menu-left">
        </div>

        <!--初始化加载层 首页加载动画-->
        <div class="layuimini-loader" style="opacity: 0.9;">
            <div class="layuimini-loader-inner"></div>
        </div>

        <!--手机端遮罩层-->
        <div class="layuimini-make"></div>

        <!-- 移动导航 -->
        <div class="layuimini-site-mobile"><i class="layui-icon"></i></div>

        <div class="layui-body">

            <div class="layuimini-tab layui-tab-rollTool layui-tab" lay-filter="layuiminiTab" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
                </ul>
                <div class="layui-tab-control">
                    <li class="layuimini-tab-roll-left layui-icon layui-icon-left"></li>
                    <li class="layuimini-tab-roll-right layui-icon layui-icon-right"></li>
                    <li class="layui-tab-tool layui-icon layui-icon-down">
                        <ul class="layui-nav close-box">
                            <li class="layui-nav-item">
                                <a href="javascript:;"><span class="layui-nav-more"></span></a>
                                <dl class="layui-nav-child">
                                    <dd><a href="javascript:;" layuimini-tab-close="current">关 闭 当 前</a></dd>
                                    <dd><a href="javascript:;" layuimini-tab-close="other">关 闭 其 他</a></dd>
                                    <dd><a href="javascript:;" layuimini-tab-close="all">关 闭 全 部</a></dd>
                                </dl>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="layui-tab-content">
                    <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show"></div>
                </div>
            </div>

        </div>
    </div>
    <script src="/plugin/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/plugin/layuimini/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
    <script>
        layui.use(['jquery', 'layer', 'miniAdmin',"miniTab"], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                miniAdmin = layui.miniAdmin,
                miniTab = layui.miniTab



            var options = {
                iniUrl:'@Url.Action("GetMenuAjax")',// 初始化接口
                clearUrl:'@Url.Action("ClearCacheAjax")',// 缓存清理接口
                urlHashLocation: true, // 是否打开hash定位
                bgColorDefault: false, // 主题默认配置
                multiModule: true, // 是否开启多模块
                menuChildOpen: false, // 是否默认展开菜单
                loadingTime: 0, // 初始化加载时间
                pageAnim: true, // iframe窗口动画
                maxTabNum: 20, // 最大的tab打开数量
            };
            miniAdmin.render(options);
            //miniTab 常见用法 需要在use中添加 miniTab  layui.use(["miniTab"], function () {})
            //1 通过按钮打开一个新的标签
            // <a href="javascript:;" layuimini-content-href="https://www.baidu.com" data-title="百度" data-icon="fa fa-gears">百度</a>
            //2 通过js出发打开一个table
            //miniTab.openNewTabByIframe({ href: "https://www.baidu.com", title: "百度" })
            //3 在tab中关闭自己
            //miniTab.deleteCurrentByIframe();

            $('.login-out').on("click", function () {

                $.post('@Url.Action("Loginout")', {}, function (xhr) {

                    if (xhr.Code == 1) {
                        layer.msg("跳转中...", { icont: 16, time: 999999 })
                        var oaapi = '@Html.Raw(ViewBag.oaapi)';
                        window.location = oaapi + '/user/logout?channel=1001&redirect=' + location.origin + '/home/authback'

                    } else {
                        layer.alert("退出异常");
                    }
                })

            });



            @*$(".has-notice").css("visibility","hidden")


            //获取消息
            setInterval(function () {

                $.post('@Url.Action("CheckNoticeAjax", "Notice")', {}, function (xhr) {

                    if (xhr.Code == 1) {
                        if (xhr.DataCount > 0) {
                            $(".has-notice").css("visibility", "visible")
                        } else {
                            $(".has-notice").css("visibility", "hidden")
                        }
                        if (xhr.Data != null) {
                            //边缘弹出
                            layer.open({
                                type: 1
                                , title: xhr.Data.Title
                                , offset: 'rb' //具体配置参考：offset参数项
                                , content: '<div style="min-width:300px;padding: 20px 20px 50px 20px;">' + xhr.Data.Info +' <br/></div>'
                                , shade: 0 //不显示遮罩
                                , btn: ['查看','全部关闭']
                                , btnAlign: 'c' //按钮居中
                                , yes: function (index) {
                                    layer.close(index);
                                    var url = "@Url.Action("NoticeReadAjax","Notice")"
                                    $.post(url, { ID: xhr.Data.ID }, function (xhr2) {
                                        if (xhr2.Code == 1) {
                                            //miniTab.openNewTabByIframe({ href: xhr.Data.Url, title: xhr.Data.Title });
                                            iframe = layer.open({
                                                type: 2,
                                                maxmin: true,
                                                title: xhr.Data.Title,
                                                shadeClose: true,
                                                shade: 0,
                                                area: ['100vw', '100vh'],
                                                content: xhr.Data.Url
                                            })
                                        } else {
                                            layer.alert('处理失败');
                                        }
                                    }).error(function () {
                                        layer.alert('处理出错');
                                    })
                                },
                                btn2: function () {
                                    layer.closeAll();
                                }
                            });

                        }
                    }

                })


            }, 20000)*@
        });
    </script>
    <!--动态插件-->
    <script type="text/javascript">
        (function ($) {
            $.msg = function (msg) {
                layer.msg(msg);

            }
            $.alert = function (msg) {
                layer.alert(msg)
            }
            $.doPost = function (url, data, callBack) {
                var loading = layer.msg("提交中", { icon: 16, time: 9999999 });
                return $.post(url, data).done(callBack).error(function () { $.alert("提交异常") }).complete(function () { layer.close(loading) })
            }

            $.isWeiXin = function () {
                //window.navigator.userAgent属性包含了浏览器类型、版本、操作系统类型、浏览器引擎类型等信息，这个属性可以用来判断浏览器类型
                var ua = window.navigator.userAgent.toLowerCase();
                //通过正则表达式匹配ua中是否含有MicroMessenger字符串
                if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                    return true;
                } else {
                    return false;
                }
            }
            $.client = function () {
                if (navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)) { //判断是否是iOS
                    return "ios";
                }
                if (navigator.userAgent.match(/android/i)) { //判断是否是Android
                    return "android";
                }
            }





        })($)

    </script></body>

</html>