@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>“逸”鸣惊人主题年会</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" lang="zh-cn" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- basic styles -->
    <link href="~/Plugin/bootstrap3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Plugin/font/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/ace.min.css" rel="stylesheet" />
    <script src="~/Content/md5.js"></script>

    <script src="~/Plugin/jquery/jquery-1.9.1.min.js"></script>
    <script src="/Plugin/layui/layui.js"></script>

    <style>
        /* 清除浏览器默认边距，
                                使边框和内边距的值包含在元素的width和height内 */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* 使用flex布局，让内容垂直和水平居中 */

        section {
            /* 相对定位 */
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            /* linear-gradient() 函数用于创建一个表示两种或多种颜色线性渐变的图片 */
            background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
        }

            /* 背景颜色 */

            section .color {
                /* 绝对定位 */
                position: absolute;
                /* 使用filter(滤镜) 属性，给图像设置高斯模糊*/
                filter: blur(200px);
            }

                /* :nth-child(n) 选择器匹配父元素中的第 n 个子元素 */

                section .color:nth-child(1) {
                    top: -350px;
                    width: 600px;
                    height: 1000px;
                    background: #ff359b;
                }

                section .color:nth-child(2) {
                    bottom: -150px;
                    left: 100px;
                    width: 500px;
                    height: 1000px;
                    background: #fffd87;
                }

                section .color:nth-child(3) {
                    bottom: 50px;
                    right: 100px;
                    width: 500px;
                    height: 1000px;
                    background: #00d2ff;
                }

        .box {
            position: relative;
        }

            /* 背景圆样式 */

            .box .circle {
                position: absolute;
                background: #ffffff1a;
                backdrop-filter: blur(5px);
                box-shadow: 0 25px 45px #0000001a;
                border: 1px solid #ffffff80;
                border-right: 1px solid #ffffff33;
                border-bottom: 1px solid #ffffff33;
                border-radius: 50%;
                filter: hue-rotate(calc(var(--x)* 70deg));
                animation: animate 10s linear infinite;
                animation-delay: calc(var(--x)* -1s);
            }

        /* 背景圆动画 */

        @@keyframes animate {
            0%, 100%,
            {
                transform: translateY(-50px);
            }

            50% {
                transform: translateY(50px);
            }
        }

        .box .circle:nth-child(1) {
            top: -50px;
            right: -60px;
            width: 100px;
            height: 100px;
        }

        .box .circle:nth-child(2) {
            top: 150px;
            left: -100px;
            width: 120px;
            height: 120px;
            z-index: 2;
        }

        .box .circle:nth-child(3) {
            bottom: 50px;
            right: -60px;
            width: 80px;
            height: 80px;
            z-index: 2;
        }

        .box .circle:nth-child(4) {
            bottom: -80px;
            left: 100px;
            width: 60px;
            height: 60px;
        }

        .box .circle:nth-child(5) {
            top: -80px;
            left: 140px;
            width: 60px;
            height: 60px;
        }

        /* 登录框样式 */

        .container {
            position: relative;
            width: 319px;
            min-height: 354px;
            background: #ffffff1a;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(5px);
            box-shadow: 0 25px 45px #0000001a;
            border: 1px solid #ffffff80;
            border-right: 1px solid #ffffff33;
            border-bottom: 1px solid #ffffff33;
        }

        .form {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 50px;
        }

            /* 登录标题样式 */

            .form h2 {
                position: relative;
                color: #b93636;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 5px;
                margin-bottom: 30px;
                cursor: pointer;
            }

                /* 登录标题的下划线样式 */

                .form h2::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 0px;
                    height: 3px;
                    background: #fff;
                    transition: 0.5s;
                }

                .form h2:hover:before {
                    width: 53px;
                }

            .form .inputBox {
                width: 100%;
                margin-top: 20px;
            }

                /* 输入框样式 */

                .form .inputBox input {
                    width: 100%;
                    padding: 10px 20px;
                    background: #ffffff33;
                    outline: none;
                    border: none;
                    border-radius: 30px;
                    border: 1px solid #ffffff80;
                    border-right: 1px solid #ffffff33;
                    border-bottom: 1px solid #ffffff33;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #b93636;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
                }

                    .form .inputBox input::placeholder {
                        color: #b93636;
                    }

                    /* 登录按钮样式 */

                    .form .inputBox input[type="submit"] {
                        background: #b93636;
                        color: #666;
                        max-width: 100px;
                        margin-bottom: 20px;
                        font-weight: 600;
                        cursor: pointer;
                    }

        .forget {
            margin-top: 6px;
            color: #b93636;
            letter-spacing: 1px;
        }

            .forget a {
                color: #b93636;
                font-weight: 600;
                text-decoration: none;
            }
    </style>
    <!--[if lt IE 9]>
    <script src="~/plugin/assets/js/html5shiv.js"></script>
    <script src="~/plugin/assets/js/respond.min.js"></script>
    <![endif]-->
    @*<script>
            var oaapi = '@Html.Raw(ViewBag.oaapi)';
            location.href = oaapi + '/user/auth?channel=1001&redirect=' + location.origin + '/home/AuthBack'
        </script>*@
</head>
<body>
    <section>
        <!-- 背景颜色 -->
        <div class="color" style="background: #ff359b;"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <!-- 背景圆 -->
            <div class="circle" style="--x:0"></div>
            <div class="circle" style="--x:1"></div>
            <div class="circle" style="--x:2"></div>
            <div class="circle" style="--x:3"></div>
            <div class="circle" style="--x:4"></div>
            <!-- 登录框 -->
            <div class="container">
                <div class="form">
                    <h2>网逸年会活动</h2>
                    <form>
                        <div class="inputBox">
                            <input type="text" id="login-uid" class="form-control" placeholder="身份证后四位" />

                        </div>

                        <div class="inputBox">
                            <input type="button" id="btn-login" value="登录">
                            @*<button type="button" id="btn-login" class="width-35 pull-right btn btn-sm btn-primary">
                                  登陆
                                </button>*@
                        </div>
                        @*<p class="forget">
                                忘记密码?<a href="#">
                                    点击这里
                                </a>
                            </p>
                            <p class="forget">
                                没有账户?<a href="#">
                                    注册
                                </a>
                            </p>*@
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--<div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="icon-leaf green"></i>
                                <span class="red">登录</span>
                                <span class="white"></span>
                            </h1>
                            <h4 class="blue">&copy; 逸鸣惊人晚会</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="icon-coffee green"></i>
                                            请输入工号
                                        </h4>

                                        <div class="space-6"></div>
                                        <div style="height:20px;margin-bottom:5px">
                                            <span id="login-info" style="display:none;color:orange">工号错误或者无效</span>
                                        </div>
                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" id="login-uid" class="form-control" placeholder="工号" />
                                                        <i class="icon-user"></i>
                                                    </span>
                                                </label>-->
    @*<label class="block clearfix">
            <span class="block input-icon input-icon-right">
                <input type="password" id="login-pwd" class="form-control" placeholder="密码" />
                <i class="icon-lock"></i>
            </span>

        </label>*@


    @*@if (true)
        {
            <label class="block clearfix loginimgcode">

                <input type="text" id="login-code" placeholder="验证码" class="form-control" style="display:inline-block;width:218px" />
                <img alt="图像验证码" style="max-width: 100%; max-height: 34px; margin-top: -3px;"
                     src="@Url.Action("ImageCode")" class="imageholder">
            </label>
        }*@



    <!--<div class="space"></div>

    <div class="clearfix">-->
    @*<label class="inline">
            <input type="checkbox" id="ck_rmbUser" class="ace" />
            <span class="lbl"> 记住我</span>
        </label>*@

    <!--<button type="button" id="btn-login" class="width-35 pull-right btn btn-sm btn-primary">
                    <i class="icon-key"></i>
                    登陆
                </button>
            </div>

            <div class="space-4"></div>
        </fieldset>
    </form>-->
    @*<div class="social-or-login center">
            <span class="bigger-110">其他方式登陆</span>
        </div>

        <div class="social-login center">
            <label>暂未开通</label>

        </div>*@
    <!--</div>--><!-- /widget-main -->
    <!--<div class="toolbar clearfix">

        </div>
    </div>-->
    <!-- /widget-body -->
    <!--</div>--><!-- /login-box -->
    <!--</div>--><!-- /position-relative -->
    <!--</div>
    </div>-->
    <!-- /.col -->
    <!--</div>--><!-- /.row -->
    <!--</div>
    </div>-->
    <!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->


    <script src="~/Plugin/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/Plugin/layui/layui.all.js"></script>


    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/Plugin/jquery/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
        function show_box(id) {
            jQuery('.widget-box.visible').removeClass('visible');
            jQuery('#' + id).addClass('visible');
        }
    </script>
    <script type="text/javascript">

        //加载弹出层
        layui.use(['form', 'element'],
            function () {
                layer = layui.layer;
                element = layui.element;
            });
    </script>


    <!--动态插件-->
    <script type="text/javascript">
        (function ($) {
            $.msg = function (msg) {
                layer.msg(msg);

            }
            $.alert = function (msg) {
                layer.alert(msg)
            }
            $.doPost = function (url, data, callBack) {
                var loading = layer.msg("提交中", { icon: 16, time: 9999999 });
                return $.post(url, data).done(callBack).error(function () { $.alert("提交异常") }).complete(function () { layer.close(loading) })
            }

            $.isWeiXin = function () {
                //window.navigator.userAgent属性包含了浏览器类型、版本、操作系统类型、浏览器引擎类型等信息，这个属性可以用来判断浏览器类型
                var ua = window.navigator.userAgent.toLowerCase();
                //通过正则表达式匹配ua中是否含有MicroMessenger字符串
                if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                    return true;
                } else {
                    return false;
                }
            }
            $.client = function () {
                if (navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)) { //判断是否是iOS
                    return "ios";
                }
                if (navigator.userAgent.match(/android/i)) { //判断是否是Android
                    return "android";
                }
            }





        })($)

        $(function () {
            $(".temp").click(function () {
                $.msg("即将上线，敬请期待！");
                return false;
            })
            $(".layloading").click(function () {
                var index = layer.load(1, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
            })
        })
    </script>

    <script>



        //获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }

        $(function () {

            var imgUrl = '@Url.Action("ImageCode")'
            $(".imageholder").click(function () {

                $(this).attr("src", imgUrl + "?t=" + new Date().getTime());
            })

            $(document).keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#btn-login").click();
                }
            })
            $("#btn-login").click(function () {

                var userid = $("#login-uid").val();
                if (userid == "") {
                    $("#login-info").text("身份证号后四位不能为空");
                    $("#login-info").show();
                    return false;
                }

                layer.load("验证中...");
                $.post('@Url.Action("ajaxlogin","home")', { uid: userid}, function (data) {
                    layer.closeAll();
                    if (data.Code == 1) {

                        layer.load("跳转中...");
                        $("#login-info").hide();

                        var redirect = getUrlParam(data.Info);

                        if (redirect != null && redirect.length>0) {
                            location.href = redirect;
                        } else {
                            localStorage.setItem("selectedTab", "home");
                            location.href = '@Url.Action("index", "home")';
                        }
                    } else {

                        if (data.Code == -1 && codeDiv.length <= 0) {

                            location = location;
                        }
                        layer.msg(data.Msg);
                    }
                }, "json").error(function () {
                    location = location;
                    //layer.closeAll();
                    //$("#login-info").text("网络异常");
                    //$("#login-info").show();
                })
            })

        })
        //方式一
        if (self.frameElement && self.frameElement.tagName == "IFRAME") {
            window.parent.location.href = '@Url.Action("login", "home")';
        }

    </script>
    <script>
        //document.addEventListener("DOMContentLoaded", () => {
        //    // 从 localStorage 获取选中的标签
        //    const selected = localStorage.getItem("selectedTab");

        //    if (selected) {
        //        localStorage.removeItem("selectedTab");
        //    }
        //});
    </script>
</body>
</html>
